<form class="form-inline" action="?cmd=add" method="post">
    <div class="form-group mx-sm-3 mb-2">
        <label for="todo-item-name" class="sr-only">Nimi</label>
        <input type="text" name="todo-item-name" class="form-control" id="todo-item-name"
               placeholder="Mida vaja teha?">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Lisa</button>
</form>

<div tpl-if="$todoItems">
    <ul class="list-group">
        <li class="list-group-item" tpl-foreach="$todoItems as $item">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <a href="?cmd=viewItem&id={{$item->id}}">
                        <h5 class="mb-1" class="text-muted" tpl-if="$item->completed"><s>{{$item->name}}</s></h5>
                        <h5 class="mb-1" tpl-if="!$item->completed">{{$item->name}}</h5>
                    </a>
                </div>
                <div>
                    <small class="date-added">{{$item->dateAdded}}</small>
                    <form class="form-inline" action="?cmd=complete" method="post" tpl-if="!$item->completed">
                        <input type="submit" class="btn btn-success" value="Valmis"/>
                        <input type="hidden" name="id" value="{{$item->id}}"/>
                    </form>
                    <form class="form-inline" action="?cmd=delete" method="post">
                        <input type="submit" class="btn btn-danger" value="Kustuta"/>
                        <input type="hidden" name="id" value="{{$item->id}}"/>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>

<div tpl-if="!$todoItems">
    <div class="alert alert-primary" role="alert">
        Lisa endale ülesanne
    </div>
</div>
